input {
  keyboard {
    xkb {
      layout "us"
    }
  }

  touchpad {
    tap
    natural-scroll
    scroll-method "two-finger"
  }

  mouse {
    natural-scroll
  }

  trackpoint {
    natural-scroll
  }

  tablet {
    map-to-output "eDP-1"
  }

  touch {
    map-to-output "eDP-1"
  }

  focus-follows-mouse
  warp-mouse-to-focus mode="center-xy"
  
  mod-key "Super"
  mod-key-nested "alt"
}

output "eDP-1" {
  mode "2560x1440@60"
  scale 1.0
  position x=0 y=0
  focus-at-startup
  hot-corners {
    top-left
  }
}
