include "../shared/common.kdl"

output "PNP(AOC) 32G1WG4 0x0000348F" {
  mode "1920x1080@144.001"
  scale 1.0
  position x=-200 y=-1080
  hot-corners {
    off
    top-left
  }
}

output "Samsung Electric Company LC34G55T HNBX801797" {
  mode "3440x1440@164.999"
  scale 1.0
  position x=0 y=0
  focus-at-startup
  hot-corners {
    off
    bottom-left
    bottom-right
  }
}

output "Samsung Electric Company C32F391 HTQM105661" {
  mode "1920x1080@60"
  scale 1.0
  position x=1720 y=-1080
  hot-corners {
    off 
    top-right
  }
}

output "PNP(HAT) Kamvas 13 0x01010101" {
  mode "1920x1080@60"
  scale 1.0
  position x=400 y=1440
  hot-corners {
    off 
  }
}

// Assign chat workspace to top left screen
workspace "chat" {
  open-on-output "PNP(AOC) 32G1WG4 0x0000348F"
}
// Assign music workspace to top right screen
workspace "music" {
  open-on-output "Samsung Electric Company C32F391 HTQM105661"
}

// Make chat apps open on chat workspace
window-rule {
  match app-id=r#"^discord$"#
  match app-id=r#"^vesktop$"#
  open-on-workspace "chat"
  open-maximized true
  open-focused false
  // open-on-output "PNP(AOC) 32G1WG4 0x0000348F"
}

// Make music apps open on music workspace
window-rule {
  match app-id="spotify"
  open-on-workspace "music"
  open-maximized true
  open-focused false
}
